@import "./reset.css";
@import "./fonts.css";

html {

	min-height: 100%;
}

body {
	background: #000;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 300;
	min-height: 100%;
}

h1 {
	font-size: 23px;
	text-align: center;
	color: #424242;
	margin-bottom: 30px;
	font-weight: 500;
	text-transform: uppercase;
}